<html>
    <head>
            <title><%= title %></title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
            <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
            <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
            <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
          
    </head>
   
    <body>

            <div class="container p-5"><br><br>
                    <div class="jumbotron">
                            <h2 class="display-4">Hello, Admin </h2>
                            <h4>Name : <%= user.fullname  %> </h4>
                            <h4>Email : <%= user.email  %> </h4>
                           
                            <hr class="my-4">
                            <p>You can control this website from your end using the buttons below</p><br>
                            <p class="lead">
                              <a class="btn btn-success shadow" href="/admin/post" role="button">Make a post</a>
                              <a href="/auth/logout" class="float-right btn btn-danger shadow">Logout</a>
                            </p>
                            <center><a href="/" class="btn btn-primary shadow" >Go to Admin Dashboard</a></center>
                    </div>
             
            </div>
       

    </body>
</html>