<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.png">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Font Family CSS -->
    <link rel="stylesheet" href="assets/css/vendor/cerebrisans.css">

    <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="assets/css/vendor/fontawesome-all.min.css">

    <!-- Swiper slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- animate-text CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate-text.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/plugins/animate.min.css">

    <!-- Light gallery CSS -->
    <link rel="stylesheet" href="assets/css/plugins/lightgallery.min.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->
    <!--
        <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
        -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>


    <div class="preloader-activate preloader-active open_tm_preloader">
        <div class="preloader-area-wrap">
            <div class="spinner d-flex justify-content-center align-items-center h-100">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>


    <!--====================  header area ====================-->
    <div class="header-area header-area--default">

        <!-- Header Top Wrap Start -->
        <!-- <div class="header-top-wrap border-bottom">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="text-center top-message"><a href="#">Now Hiring:</a> Are you a driven and motivated 1st Line IT Support Engineer?</p>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Header Top Wrap End -->

        <!-- Header Bottom Wrap Start -->
        <div class="header-bottom-wrap header-sticky">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header default-menu-style position-relative">

                            <!-- brand logo -->
                            <div class="header__logo">
                                <a href="/">
                                    <img src="/assets/images/logo/logo-dark.png" style="width: 60%;" class="img-fluid" alt="">
                                </a>
                            </div>

                            <%- include('./partials/header'); %>

                            <!-- header midle box  -->
                           

                            <!-- header right box -->
                            <div class="header-right-box">
                                <div class="header-right-inner" id="hidden-icon-wrapper">

                                    <!-- language-menu -->
                                    <div class="language-menu">
                                        <ul>
                                            <li>
                                                <a href="#" class="">
                                                    <img class="ls-flag" src="/assets/images/flags/en.png" alt="en" title="English">
                                                    <span class="wpml-ls-native">English</span>
                                                </a>

                                                <ul class="ls-sub-menu">
                                                    <li class="">
                                                        <a href="#" class="">
                                                            <img class="ls-flag" src="/assets/images/flags/fr.png" alt="en" title="Français"><span class="wpml-ls-native">Français</span>
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a href="#" class="">
                                                            <img class="wpml-ls-flag" src="/assets/images/flags/de.png" alt="de" title="Deutsch"><span class="wpml-ls-native">Deutsch</span>
                                                        </a>
                                                    </li>

                                                </ul>

                                            </li>

                                        </ul>
                                    </div>

                                    <!-- header-search-form -->
                                    <div class="header-search-form default-search">
                                        <form action="#" class="search-form-top">
                                            <input class="search-field" type="text" placeholder="Search…">
                                            <button class="search-submit">
                                                <i class="search-btn-icon fa fa-search"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>

                                <!-- mobile menu -->
                                <div class="mobile-navigation-icon d-block d-xl-none" id="mobile-menu-trigger">
                                    <i></i>
                                </div>
                                <!-- hidden icons menu -->
                                <div class="hidden-icons-menu d-block d-md-none" id="hidden-icon-trigger">
                                    <a href="javascript:void(0)">
                                        <i class="far fa-ellipsis-h-alt"></i>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->





















    <div class="site-wrapper-reveal">
        <div class="about-banner-wrap banner-space about-us-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 ml-auto mr-auto">
                        <div class="about-banner-content text-center">
                            <h1 class="mb-15 text-white">About Cholatrek</h1>
                            <h5 class="font-weight--normal text-white">Cholatrek specializes in technological and IT-related services such as Web and App development, School Management System, Branding and Strategy, UI/UX and lots more... </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-large-images-wrapper  Start =============-->
        <div class="feature-large-images-wrapper section-space--ptb_100">
            <div class="container">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- section-title-wrap Start -->
                        <div class="section-title-wrap text-center section-space--mb_60">
                            <h6 class="section-sub-title mb-20">Our company</h6>
                            <h3 class="heading">We run all kinds of IT services that <br> vow your <span class="text-color-primary"> success</span></h3>
                        </div>
                        <!-- section-title-wrap Start -->
                    </div>
                </div>



                <div class="row">
                    <div class="col-12">
                        <div class="feature-images__six">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-06">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-06-image-01-120x120.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Who are we?</h5>
                                                <div class="text">We put a strong focus on the needs of your business to figure out solutions that best fits your demand. We help you to solve the big problem in your business
                                                </div>
                                                <a href="https://wa.me/message/U2CFOUAEBZ54G1" class="box-images-arrow">
                                                    <span class="button-text">Meet Us Now</span>
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-06">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-06-image-02-120x120.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Our Vision?</h5>
                                                <div class="text">
                                                    Our vision is to achieve a tech driven business ecosystem. We help increase the productivity of your business by solving the big problem for you through our expertise
                                                </div>
                                                <a href="https://instagram.com/cholatrek" class="box-images-arrow">
                                                    <span class="button-text">Explore now</span>
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>
                                <div class="col-lg-4 col-md-6 wow move-up">
                                    <!-- ht-box-icon Start -->
                                    <div class="ht-box-images style-06">
                                        <div class="image-box-wrap">
                                            <div class="box-image">
                                                <div class="default-image">
                                                    <img class="img-fulid" src="assets/images/icons/mitech-box-image-style-06-image-03-120x120.png" alt="">
                                                </div>
                                            </div>
                                            <div class="content">
                                                <h5 class="heading">Become a Partner?</h5>
                                                <div class="text">Cholatrek is interested in partnership that achieves the integration of technology  into your business. Becoming a partner helps us as well as your company attain rapid growth.
                                                </div>
                                                <a href="https://wa.me/message/U2CFOUAEBZ54G1" class="box-images-arrow">
                                                    <span class="button-text">Become a partner </span>
                                                    <i class="far fa-long-arrow-right"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ht-box-icon End -->
                                </div>

                            </div>
                        </div>

                        <!-- <div class="section-under-heading text-center section-space--mt_60">Challenges are just opportunities in disguise. <a href="#">Take the challenge!</a></div> -->

                    </div>
                </div>
            </div>
        </div>
        <!--===========  feature-large-images-wrapper  End =============-->




        <!--========= About Resources Wrapper Start ===========-->
        <div class="about-resources-wrapper">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="resources-left-box">
                            <div class="resources-inner">
                                <h6 class="sub-title mb-20">Resources</h6>
                                <h3 class="heading">Get a copy of brochure on <span class="text-color-primary"> Cholatrek services.</span></h3>
                                <div class="button mt-30">
                                    <a href="https://drive.google.com/file/d/1rJeX66LPg9q6wB4tMOwYzlYI1a4cEaZx/view?usp=sharing" class="ht-btn ht-btn-md">Download now (3MB)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="resources-right-box">
                            <div class="resources-right-inner text-center">
                                <div class="resources-images">
                                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/cholatrek-9acb7.appspot.com/o/IMG_1185.PNG?alt=media&token=a0b63982-5efb-4149-baf9-fafbd7a33b89" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--========= About Resources Wrapper End ===========-->


             <!-- ============ Team Member Wrapper Start =============== -->
             <div class="team-member-wrapper section-space--pt_100 section-space--pb_40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="section-title section-space--mb_60">
                                    <h3 class="heading">Our <span class="text-color-primary">experience </span> experts</h3>
                                    <p class="text mt-30">Cholatrek specializes in technological and IT-related services such as Web and App development, School Management System, Branding and Strategy, UI/UX and lots more...</p>
    
                                    <div class="sider-title-button-box mt-30">
                                        <a href="mailto:info@cholatrek.org" class="ht-btn ht-btn-md">Join us now</a>
                                        <!-- <a href="#" class="btn-text font-weight--bold small-mt__20">View all team <i class="ml-1 button-icon far fa-long-arrow-right"></i></a> -->
                                    </div>
    
                                </div>
                            </div>
                            <div class="col-lg-8 ht-team-member-style-one">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="assets/images/team/skolly.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Kolawole Oluwasegun </h5>
                                                    <div class="position">Community Lead / Product Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="assets/images/team/emmanuel.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Ajayi Emmanuel </h5>
                                                    <div class="position">Product Designer / Brand Analyst</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/cholatrek-9acb7.appspot.com/o/rsz_untitled_design_3.png?alt=media&token=550420c2-3bb5-4f89-a24c-54bbabe22765" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name">Jegede Bukola</h5>
                                                    <div class="position">Human Resource Manager</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="assets/images/team/tope.jpg" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name"> Tope Ezekiel Onigbinde </h5>
                                                    <div class="position">Content Developer / Writer</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/cholatrek-9acb7.appspot.com/o/Untitled%20design%20(5).png?alt=media&token=640a70da-83bc-433a-9651-36886375b804" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name"> Alagbe Israel </h5>
                                                    <div class="position">Rector, Traning Institute</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="col-lg-6 col-md-6 wow move-up">
                                        <div class="grid-item">
                                            <div class="ht-team-member">
                                                <div class="team-image">
                                                    <img class="img-fluid" src="https://firebasestorage.googleapis.com/v0/b/cholatrek-9acb7.appspot.com/o/Untitled%20design%20(4).png?alt=media&token=db1cb075-c9f0-4db6-9b2c-8a2b097f0793" alt="">
                                                    <div class="social-networks">
                                                        <div class="inner">
                                                            <a target="_blank" href="#" class=" hint--bounce  hint--top hint--theme-two" aria-label="Facebook"><i class="fab fa-facebook"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Twitter"><i class="fab fa-twitter"></i>
                                                            </a>
                                                            <a target="_blank" href="#" class=" hint--bounce hint--top hint--theme-two" aria-label="Instagram"><i class="fab fa-instagram"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="team-info ">
                                                    <h5 class="name"> Kolawole Opeoluwa </h5>
                                                    <div class="position">Media</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============ Team Member Wrapper End =============== -->
    
      
       

        <!--====================  brand logo slider area ====================-->
        <div class="brand-logo-slider-area section-space--ptb_60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- brand logo slider -->
                        <div class="brand-logo-slider__container-area">
                            <div class="swiper-container brand-logo-slider__container">
                                <div class="swiper-wrapper brand-logo-slider__one">
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/partner/greenlab.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/partner/greenlab.jpg" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/partner/frontline.png" style="width:50%" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/partner/frontline.png"  style="width:50%" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/partner/extra.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/partner/extra.png" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>

                                    
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/partner/itus.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/partner/itus.png" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    
                                   
                                  
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/brand/mitech-client-logo-07.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/brand/mitech-client-logo-07-hover.png" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/brand/mitech-client-logo-08.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/brand/mitech-client-logo-08-hover.png" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                    <div class="swiper-slide brand-logo brand-logo--slider">
                                        <a href="#">
                                            <div class="brand-logo__image">
                                                <img src="assets/images/brand/mitech-client-logo-09.png" class="img-fluid" alt="">
                                            </div>
                                            <div class="brand-logo__image-hover">
                                                <img src="assets/images/brand/mitech-client-logo-09-hover.png" class="img-fluid" alt="">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of brand logo slider area  ====================-->
       
    </div>

    <!--====================  footer area ====================-->
    <%- include('./partials/footer'); %>
    <!--====================  End of footer area  ====================-->









    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top fal fa-long-arrow-up"></i>
        <i class="arrow-bottom fal fa-long-arrow-up"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

    <!--====================  mobile menu overlay ====================-->
    <%- include('./partials/header_mobile'); %>
    <!--====================  End of mobile menu overlay  ====================-->







    <!--====================  search overlay ====================-->
    <div class="search-overlay" id="search-overlay">

        <div class="search-overlay__header">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6 ml-auto col-4">
                        <!-- search content -->
                        <div class="search-content text-right">
                            <span class="mobile-navigation-close-icon" id="search-close-trigger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-overlay__inner">
            <div class="search-overlay__body">
                <div class="search-overlay__form">
                    <form action="#">
                        <input type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--====================  End of search overlay  ====================-->

    <!-- JS
    ============================================ -->
    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Light gallery JS -->
    <script src="assets/js/plugins/lightgallery.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counter down JS -->
    <script src="assets/js/plugins/countdown.min.js"></script>

    <!-- Isotope JS -->
    <script src="assets/js/plugins/isotope.min.js"></script>

    <!-- Masonry JS -->
    <script src="assets/js/plugins/masonry.min.js"></script>

    <!-- ImagesLoaded JS -->
    <script src="assets/js/plugins/images-loaded.min.js"></script>

    <!-- Wavify JS -->
    <script src="assets/js/plugins/wavify.js"></script>

    <!-- jQuery Wavify JS -->
    <script src="assets/js/plugins/jquery.wavify.js"></script>

    <!-- circle progress JS -->
    <script src="assets/js/plugins/circle-progress.min.js"></script>

    <!-- counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- wow JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- animation text JS -->
    <script src="assets/js/plugins/animation-text.min.js"></script>

    <!-- Vivus JS -->
    <script src="assets/js/plugins/vivus.min.js"></script>

    <!-- Some plugins JS -->
    <script src="assets/js/plugins/some-plugins.js"></script>


    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>