*{
    font-family: 'Open Sans', sans-serif;
    
  }
  .mk{
    margin-left: 500px;
    float: right;
  
  }
  .made{
    margin-top: 100px;
    margin-left: 500px;
    font-weight: bolder;
   
    
  }
  .mine{
    background-color: white;
    overflow: hidden;
    margin-left: 17%;
    
  }
  .sidebar {
    width: 25%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
  }
  
  .wrapper {
    display: flex;
    width: 80%;
  }