<nav>
        <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar" >
    
          <i class="sidebar-brand d-flex align-items-center justify-content-center" >
            <div class="sidebar-brand-icon">
              
            </div>
            <div class="sidebar-brand-text mx-3 ">Welcome Admin </div> 
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </i>
          
    
          <hr class="sidebar-divider my-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">
              <i class="fas fa-fw fa-user-alt" ></i>
              <span>Dashboard</span></a>
          </li>
    
          
          <hr class="sidebar-divider my-0">
          <div style="padding-top:50px;" ></div>
          <li class="nav-item"  > 
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Dashboard</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/quotation" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Quotation</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/blog" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Blogs</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/testimonials" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Testimonials</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/institute" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Institute</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/Registration" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Registrations</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/admin/portfolio" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Portfolio</span>
            </a>
            <a style="border-bottom:1px solid white;color:white;padding:20px;" class="nav-link collapsed" href="/logout" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fas fa-fw fa-cog"></i>
              <span>Logout</span>
            </a>
    
            
             
            
        
          </li>
    
       
          </ul>
        </nav>